# ignore lsp files
/Code/generate \dataset/lsp_dataset/images
/Code/generate \dataset/lsp_dataset/save

# ignore MPII files
/Code/generate \dataset/MPII \dataset/images
/Code/generate \dataset/MPII \dataset/save
